.news-letter .row {
  margin-top: -60px;
}

.new-letter-s1 h6 {
  font-size: 18px;
}

.new-letter-s1 p {
  font-size: 16px;
}

.news-letter-s2 p {
  font-size: 16px;
  line-height: 33px;
}

.input-news-letter::-webkit-input-placeholder {
  font-size: 16px;
}

.input-news-letter {
  border-radius: 0 !important;
}

.news-letter-s3 button {
  font-size: 14px;
}

.main-section-footer h5 {
  font-size: 15px;
  border-bottom: 2px solid #6575ff;
  padding-bottom: 10px;
  display: inline-flex;
}

.footer-nav-custom li a {
  font-size: 14px;
  color: #4e4d4d;
  transition: 0.5s ease;
}

.footer-nav-custom li a:hover {
  font-size: 14px;
  color: #6575ff;
}

.support-rules {
  font-size: 35px;
  color: #6575ff;
}

.tel-support p,
.tel-support a {
  font-size: 15px;
  color: #4e4d4d;
}

.social-icon p {
  font-size: 15px;
  color: #4e4d4d;
}

.social-icon ul li a {
  color: #4e4d4d;
  transition: 0.5s ease;
}

.social-icon ul li a.telegram:hover {
  color: rgb(45, 121, 236);
}

.social-icon ul li a.instagram:hover {
  color: rgb(250, 47, 108);
}

.social-icon ul li a.twitter:hover {
  color: rgb(34, 103, 236);
}

.social-icon ul li a.facebook:hover {
  color: rgb(14, 80, 179);
}

.social-icon ul li a.rss:hover {
  color: rgb(243, 149, 72);
}